/* GENERAL CSS */

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container  {

    display: flex;
    justify-content: center;
}

body {

   font-family: "Lato", sans-serif;
}

/* HEADER */
 #nav-links {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 #nav-links #logo {

    height: 80px;
 }

 /* MAIN */

#new-todo-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
}

#new-todo-wrapper input[type="text"] {

    flex-basis: 40%;

    height: 30px;
    margin-right: 20px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #d5dddd;
    border: 0;
   

    
}

#new-todo-wrapper input[type="text"]:focus {

    outline: 0;
}

#new-todo-wrapper button {

    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #00e165;
    border: 0;
    box-shadow: 0 2px #009945;

    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

 #app.todo-app-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 70%;
 }

 #new-todo-wrapper {

    width: 50%;
 }

 #todo-list-wrapper {

    width: 50%;

    margin-top: 50px;

    background-color: #f5f7f7;
    border-radius: 10px;
    color: #001533;
 }

 #todo-list-wrapper ul {

    list-style-type: none;
    margin: 30px 20px;
 }

 #todo-list-wrapper li {
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid #e1e4e7;
    padding: 10px 20px;
 }

 #todo-list-wrapper li .todo-text {

    flex-grow: 1;
 }

 #todo-list-wrapper li .icons {

   margin: 0 2px;
 }

 #todo-list-wrapper .empty-list-text {

   width: 100%;
   display: inline-block;
   padding: 10px 20px;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   color: #001533;
 }
 
 .fa-times-circle {
    
   color: #001533;
 }

 .done {
    
   color: #00e165;
   text-decoration: line-through;
 }